{% extends "bibliotecaeulina/layout/base.html"%}
{% load crispy_forms_tags %}
{% block title %} Acervo {% endblock %}
{% load static %}

{%block conteudo %}

<div class="row container-content">
    <div class="col-md-12">
      <p>ACERVO</p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        {% if form %}
        <form action='acervo' method='POST'>
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        {% endif %}
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <p>
            {% if acervo %}
                {% for exemplar in acervo %}
                    <a href="{% url 'buscar_exemplar' exemplar.idexemplar  %}" target="_self">{{exemplar}}</a>, {{exemplar.situacao}},
                        {% if exemplar.status %}
                            <span id="status-exemplar-on">disponível</span>
                        {% else %}
                            <span id="status-exemplar-off">indisponível</span>
                        {% endif %}
                        <hr/>
                {% endfor %}
            {% endif %}
        </p>
    </div>
</div>

{% endblock %}