{% extends "bibliotecaeulina/layout/base.html"%}
{% block title %} Biblioteca Escolar Maria Das Dores Garcia dos Santos {% endblock %}
{%block conteudo %}
<section>
    <article class="col-md-12 home-menu"><a href="{% url 'cadastro_usuario' %}" target="_self">Cadastrar Usuário</a><hr> </article>
    <article class="col-md-12 home-menu"><a href="{% url 'cadastro_autor' %}" target="_self">Cadastrar Autor</a><hr> </article>
    <article class="col-md-12 home-menu"><a href="{% url 'cadastro_cliente' %}" target="_self">Cadastrar Cliente</a><hr></article>
    <article class="col-md-12 home-menu"><a href="{% url 'cadastro_colecao' %}" target="_self">Catalogar nova cole&ccedil;&atilde;o</a><hr> </article>
    <article class="col-md-12 home-menu"><a href="{% url 'new' %}" target="_self">Catalogar novo livro</a><hr></article>
    <article class="col-md-12 home-menu"><a href="{% url 'cadastro_exemplar' %}" target="_self">Catalogar novo Exemplar</a><hr></article>

    <article class="col-md-12 home-menu"><a href="{% url 'list_colecoes' %}">Cole&ccedil;&otilde;es</a><hr></article>
    <article class="col-md-12 home-menu"><a href="{% url 'ver_acervo' %}">Acervo</a><hr></article>
    <article class="col-md-12 home-menu"><a href="{% url 'exemplares' %}" target="_self">Exemplares</a><hr></article>
    <article class="col-md-12 home-menu"><a href="{% url 'list_usuarios' %}" target="_self">Usuários</a><hr> </article>

    <article class="col-md-12 home-menu"><a href="{% url 'list_autores' %}" target="_self">Autores</a><hr></article>

    <article class="col-md-12 home-menu"><a href="{% url 'list_clientes' %}" target="_self">Clientes</a><hr></article>
  <!--  <article class="col-md-12 home-menu"><a href="{% url 'cadastro_emprestimo' %}" target="_self">Cadastrar Empréstimo</a><hr></article> -->
    <article class="col-md-12 home-menu"><a href="{% url 'list_emprestimos' %}" target="_self">Empréstimos</a><hr></article>
</section>
<section>
    <mark>Cole&ccedil;&otilde;es: {{colecoes}}</mark><br/>
    <mark>Títulos: {{livros}}</mark><br/>
    <mark>Livros: {{exemplares}}</mark>
</section>
{% endblock %}