{% extends "bibliotecaeulina/layout/base.html"%}
{% load crispy_forms_tags %}
{% block title %} Cadastrar Empréstimo {% endblock %}
    {% block scripts-js %}  {% endblock %}
{%block conteudo %}
<div class="row container-content">
    <div class="col-12">
        <p>Emprestar exemplar<br/>Usuário: {{user}}</p>
    </div>
    <div class="col-12">
        <form action="{% url 'cadastro_emprestimo' %}" method="POST">
             {% csrf_token %}
            <input type="hidden" value="{{exemplar.idexemplar}}" name="idexemplar" required="True"/>
            <label for="label_idexemplar">Exemplar: </label>
            <input type="text" value="{{exemplar}}" name="exemplar" disabled="True"/>
            <label for="label_idcliente">Cliente: </label>
            {% if clientes %}
            <select name="idcliente" required="True">
                <option value="">-----------------</option>
                {% for client in clientes %}
                  <option value="{{client.idcliente}}">{{client}}</option>
               {% endfor %}
            </select>
            {% endif %}
            <label for="label_datadevolucao">Data da Devolução: </label>
            <input type='text' name="datadevolucao" value='{{datadevolver}}'  required="True"/>
            <input type="hidden" value="{{user.id}}" name="idusuario" required="True"/>
            <button type="submit" >Emprestar</button>
        </form>
    </div>
</div>
{% endblock %}