{% extends "bibliotecaeulina/layout/base.html"%}
{% block title %} {{livro}} {% endblock %}
{%block conteudo %}

<div class="row container-content">
    <article class="col-md-12 livro" xmlns="http://www.w3.org/1999/html">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 livro-capa">
            <img src="{{livro.capa.url}}" height="200" width="150"/> <br/>
            <a href="{% url 'update_livro' livro.idlivro %}">update</a> | <a href="{% url 'delete_livro' livro.idlivro %}" target="_self">delete</a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 descricao-livro">
            Título: <a href="{% url 'buscar_livro' livro.idlivro %}" target="_self">{{livro}}</a><br/>
            Cadastrado em: {{livro.uploaded_at}}<br/>
            Autor: {{livro.idautor}}<br/>
            Páginas: {{livro.paginas}}<br/>
            Editora: {{livro.editora}}</br>
            Série: {{livro.serie }}<br/>
            Tema: {{livro.tema }} <br/>
            ISBN: {{livro.isbn}}<br/>
            Ilustração: {{livro.ilustracao}}<br/>
            Quantidade: {{livro.quantidade }}<br/>
            Emprestável: {{livro.disponivel }} <br/>
            <strong>Sinópse: </strong><br/> {{livro.sinopse}}<br/>

        </div>
    </article>
</div>
{% endblock %}