<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <!-- <link href="{% static 'js/vegas/vegas.min.css' %}" rel="stylesheet"/> -->
    <link href="https://fonts.googleapis.com/css?family=Dokdo|Pacifico" rel="stylesheet">
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>
<div class="container mt-4">
    <header class="header-custom">
        <h2>Biblioteca Escolar</h2>
        <h1>Maria das Dores Garcia dos Santos</h1>
    </header>
    <main>
          <div id="container-login">

          <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              {{ form.non_field_errors }}
            {% if form.username.errors %}
            <ol>
                {% for error in form.username.errors %}
                  <li>
                      <div class="alert alert-danger">
                        <strong>Error!</strong> {{error|escape}}
                      </div>
                  </li>
                {% endfor %}
            </ol>
           {% endif %}

            {% if form.password.errors %}
            <ol>
                {% for error in form.passoword.errors %}
                  <li>
                      <div class="alert alert-danger">
                        <strong>Error!</strong> {{error|escape}}
                      </div>
                  </li>
                {% endfor %}
            </ol>
           {% endif %}
              {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          </div>
    </main>

</div>
<!-- <script src="{% static 'js/vegas/vegas.min.js' %}" type="text/javascript"></script>
    {% block scripts %} {% endblock %}
<script>
    $("body").vegas({
        slides:[
            {src: "{% static 'img/slideshow/01.jpg' %}"},
            {src: "{% static 'img/slideshow/02.jpg' %}"},
            {src: "{% static 'img/slideshow/03.jpg' %}"},
            {src: "{% static 'img/slideshow/04.jpg' %}"},
            {src: "{% static 'img/slideshow/05.jpg' %}"},
            {src: "{% static 'img/slideshow/06.jpg' %}"},
            {src: "{% static 'img/slideshow/07.jpg' %}"},
            {src: "{% static 'img/slideshow/08.jpg' %}"},
            {src: "{% static 'img/slideshow/09.jpg' %}"}

            ],
            overlay:"{% static 'js/vegas/overlays/07.png' %}",
            color: "#000000"
    });
</script> -->
<footer class="footer-custom">
    <p>Prefeitura Municipal de Parnamirim<br/>Secretaria Municipal de Educação e Cultura<br/>Escola Municipal Professora Eulina Augusto de Almeida</p>
</footer>
</body>
</html>
