{% extends "bibliotecaeulina/layout/base.html"%}
{% block title %} Cadastrar Usuário {% endblock %}
{%block conteudo %}
<div class="row container-content">
    <div class="col-12">
        <p>Novo / Atualizar Usuário</p>
    </div>
    <div class="col-12">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" >Cadastrar</button>
        </form>
    </div>
    <div class="col-12">
        {% if usuario %}
        <p><a href="{% url 'delete_usuario' usuario.idusuario %}" target="_self">delete</a></p>
        {% endif %}
        <p><a href="{% url 'index' %}" target="_self">Return to home</a> </p>
    </div>
</div>
{% endblock %}