body{
    background-color: #FFFACD;
}
header{
    margin-top: 110px;
    margin-bottom: 30px;
    text-align: center;
}
.header-custom{
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}
h2{
    font-family: 'Dokdo', cursive;
    font-size: 2em;
    color: #FFFF00;
    text-shadow: 1px 3px 3px #000;
    min-width: 100%;
   /* border: 1px solid red; */
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: #00BFFF;
    text-shadow: 1px 3px 5px #000;
    min-width: 100%;
   /* border: 1px solid green; */
}
hr{
    margin-top: 0;
    margin-bottom: 0;
}
.home-menu{
    text-align: center;
    font-family: 'Dokdo', cursive;
    font-size: 1.5em;
    text-shadow: 1px 2px 2px #000;
   /* border: 1px solid red; */
}
.home-menu a{
    color: #ADFF2F;
}
.container-content{
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 50px;
}
mark{
    background-color: yellow;
    font-size: 0.8em;
    color: #4F4F4F;
}
#container-login{
    position: relative;
    z-index: 3;
    float: left;
    padding-top: 30px;
    left: 33%;
    width: 33%;
    color: #fff;
}
.livro{
    position: relative;
    z-index: 2;
    float: left;
    /* border: 1px solid green; */
    padding-bottom: 10px;
    padding-top: 10px;
}
.descricao-livro{
    position: relative;
    z-index: 2;
    float: left;
   /* width: 65%; */
  /*  border: 1px solid red; */
    font-size: 0.8em;
    text-align: justify;
}
.titulo-livro{
    font-family: 'Dokdo', cursive;
    font-size: 2em;
    text-align: center;
}

.livro-capa{
    position: relative;
    z-index: 2;
    float: left;
   /* width: 35%; */
   /* border: 1px solid blue; */
}
.livro-capa img{
    max-width: 95%;
   /* min-height: 200px; */
    box-shadow: 1px 3px 5px #55a;
}
.acervo{
    position: relative;
    float: left;
   /* border: 1px solid blue; */
}
.acervo img{
    width: 95%;
    /* min-height: 200px; */
    box-shadow: 1px 3px 5px #55a;
    margin-bottom: 10px;
    margin-top: 10px;
}
#status-exemplar-on{
    font-size: 0.9em;
    color: #00FF08;
}
#status-exemplar-off{
    font-size: 0.9em;
    color: #ff0000;
}
footer{
    width: 100%;
    padding: 20px;
    float: left;
    background-color: #fff;
    margin-top: 40px;
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
}
footer p{
    font-size: 0.8em;
    color: #696969;
}

.footer-custom{
    width: 100%;
    padding: 20px;
    float: left;
    background-color: #fff;
    margin-top: 40px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
}
@media only screen and (max-width: 600px) {
    #container-login{
        left: 5%;
        width: 90%;
    }

    .footer-custom {
        position: relative;
    }
    h2{
        font-size: 1.5em;
    }
    h1{
        font-size: 3em;
    }
}